body {
    margin: 0;
    padding: 0;
}
.page-container {
    margin-top: 50px;
}
.navbars-add-section-container {
    position: fixed;
    top: 1px;
    left: 0;
    width: 100%;       
    z-index: 1000;
    box-sizing: border-box;
}
/*navbars*/
.navbars {        
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(244, 244, 244);;
}

.navbar_left h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    margin: 0;
}

.navbar_right {
    padding: 5px 25px;
}

/* Navigation Buttons */
.nav-button {
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: rgb(13, 7, 106);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}

.nav-button:hover {
    background-color: rgb(22, 12, 159);
    box-shadow: 0 2px 6px rgba(255, 152, 0, 0.3);
    transform: translateY(-2px);
}

.nav-button:active {
    transform: translateY(0);
}
/* content */
.section-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px 0 20px;
}
.card {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.students-form-container {
    padding: 0 20px 0 20px;
}
.card-students {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card .card-students, h2 {
    margin: 0;
}
/* Students fill up form info */
.card-students-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.card-students-grid input {
    margin-top: 10px;
}
.card-students-grid h4 {
    margin: 0;
    padding: 20px 0 0 0;
}

