.navBar1 {
    display: flex;
    justify-content: space-between; /* left and right on same line */
    align-items: center;
    background: white;
    color: black;
    border: 2px solid rgb(244, 244, 244);
    padding: 15px 25px;
}

.navBar1 .navBar1_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navBar1 .logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.navBar1 h1 {
    margin: 0;
    font-size: 22px;
}

.navBar1 .navBar1_right {
    color: white;
    font-size: 14px;
    opacity: 0.8;
    background-color: rgb(13, 7, 106);
    padding: 8px;
}



/*navBar2*/

.navBar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(244, 244, 244);
}

.navBar2_left h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 25px;
    margin: 0;
}

.navBar2_right {
    padding: 5px 25px;
}

/* Set Select */

.custom-select {
    padding: 4px 0px;
    font-size: 14px;
    border-radius: 6px;
    background-color: green;
    cursor: pointer;
    border: none;
    color: white;
}

/* Optional: focus highlight */
.custom-select:focus {
    border-color: #1a73e8;
    outline: none;
}
